<%= render "layouts/sidebar" %>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <%= render "courses/course_title" %>
		<div class="row justify-content-between mb-2">
			<div class="col-6 align-content-center">
				<p class="mb-0">There are <span class="badge rounded-pill text-bg-success"><%= @requests.count %></span> processed requests</p>
			</div>
			<div class="col-6 text-end">
				<a href="<%= course_requests_path(@course)%>" class="btn btn-sm btn-warning">View Pending Requests</a>
			</div>
		</div>
      <% if @requests.any? %>
	  	<div class="table-responsive">
			<table class="table table-bordered table-striped" id="requests-table">
			<thead>
				<tr class="table-info">
				<th>Assignment</th>
				<th class="text-center align-content-center" style="min-width: 160px;">User Name</th>
				<th class="text-center align-content-center" style="min-width: 110px;">Student ID</th>
				<th class="text-center align-content-center" style="min-width: 198px;">Original Due Date</th>
				<th class="text-center align-content-center" style="min-width: 175px;">Requested Due Date</th>
				<th class="text-center align-content-center" style="min-width: 90px;"># of Days</th>
                <th class="text-center align-content-center" style="min-width: 285px;">Status</th>
				<th class="text-center align-content-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @requests.sort_by { |request| request.updated_at }.reverse.each do |request| %>
				<tr>
					<td class="align-content-center">
					<%= request.assignment ? request.assignment.name : "N/A" %>
					</td>
					<td class="text-center align-content-center">
					<%= request.user.try(:name) || 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<%= request.user.try(:student_id) || 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<%= request.assignment&.due_date&.strftime('%a, %b %-d at %-I:%M%P') || 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<%= request.requested_due_date.present? ? request.requested_due_date.strftime('%a, %b %-d at %-I:%M%P') : 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<% if request.assignment&.due_date && request.requested_due_date.present? %>
						<%= (request.requested_due_date.to_date - request.assignment.due_date.to_date).to_i %>
					<% else %>
						N/A
					<% end %>
					<td class="align-content-center">
                      <% case request.status %>
                      <% when 'pending' %>
                        <span class="badge text-bg-info">Pending</span>
                      <% when 'approved' %>
                        <% if request.auto_approved %>
                          <span class="badge text-bg-success">Auto Approved</span>
                        <% else %>
                          <span class="badge text-bg-success">Approved</span>
                        <% end %>
                      <% when 'denied' %>
                        <span class="badge text-bg-danger me-3">Denied</span>
                      <% else %>
                        <span class="badge text-bg-secondary">Unknown</span>
                      <% end %>
                      on <%= request.updated_at.strftime('%a, %b %-d at %-I:%M%P') || 'N/A' %>
                      by <%= request.auto_approved ? 'Auto Approval System' : request.last_processed_by_user&.name %>
                    </td>
					</td>
					<td class="text-center align-content-center">
					<%= link_to 'Show', course_request_path(@course, request), class: "btn btn-sm btn-primary" %>
					</td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
      <% else %>
        <div class="alert alert-warning">There are no current requests.</div>
      <% end %>
    </div>
  </div>
</div>