<%= render "layouts/sidebar" %>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <%= render "courses/course_title" %>
      <% if @requests.any? %>
	  	<div class="table-responsive">
			<table class="table table-bordered table-striped" id="requests-table">
			<thead>
				<tr class="table-info">
				<th>Assignment</th>
				<th class="text-center" style="min-width: 160px;">User Name</th>
				<th class="text-center" style="min-width: 110px;">Student ID</th>
				<th class="text-center" style="min-width: 200px;">Original Due Date</th>
				<th class="text-center" style="min-width: 200px;">Original Late Due Date</th>
				<th style="min-width: 175px;">Requested Due Date</th>
				<th class="text-center" style="min-width: 90px;"># of Days</th>
				<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @requests.each do |request| %>
				<tr>
					<td>
					<%= request.assignment ? request.assignment.name : "N/A" %>
					</td>
					<td class="text-center">
					<%= request.user.try(:name) || 'N/A' %>
					</td>
					<td class="text-center">
					<%= request.user.try(:student_id) || 'N/A' %>
					</td>
					<td class="text-center">
					<%= request.assignment&.due_date&.strftime("%B %d, %Y %I:%M %p") || 'N/A' %>
					</td>
					<td class="text-center">
					<%= request.assignment&.late_due_date&.strftime("%B %d, %Y %I:%M %p") || 'N/A' %>
					</td>
					<td class="text-center">
					<%= request.requested_due_date.present? ? request.requested_due_date.strftime("%B %d, %Y %I:%M %p") : 'N/A' %>
					</td>
					<td class="text-center">
					<% if request.assignment&.due_date && request.requested_due_date.present? %>
						<%= (request.requested_due_date.to_date - request.assignment.due_date.to_date).to_i %>
					<% else %>
						N/A
					<% end %>
					</td>
					<td class="text-center">
					<%= link_to 'Show', course_request_path(@course, request), class: "btn btn-sm btn-primary" %>
					</td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
      <% else %>
        <div class="alert alert-warning">There are no current requests.</div>
      <% end %>
    </div>
  </div>
</div>