<%= render "layouts/sidebar" %>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <%= render "courses/course_title" %>
      <% if @requests.any? %>
		<div class="row justify-content-between mb-2">
			<div class="col-12 col-lg-6 align-content-center">
				<p class="mb-0">There are <span class="badge rounded-pill text-bg-danger"><%= @requests.count %></span> pending requests</p>
			</div>
			<div class="col-12 col-lg-6 text-lg-end">
				<a href="<%= history_course_requests_path(@course)%>" class="btn btn-sm btn-warning">View old requests</a>
			</div>
		</div>
	  	<div class="table-responsive">
			<table class="table table-bordered table-striped" id="requests-table">
			<thead>
				<tr class="table-info">
				<th>Assignment</th>
				<th class="text-center align-content-center" style="min-width: 160px;">User Name</th>
				<th class="text-center align-content-center" style="min-width: 110px;">Student ID</th>
				<th class="text-center align-content-center" style="min-width: 198px;">Original Due Date</th>
				<th class="text-center align-content-center" style="min-width: 198px;">Original Late Due Date</th>
				<th class="text-center align-content-center" style="min-width: 175px;">Requested Due Date</th>
				<th class="text-center align-content-center" style="min-width: 90px;"># of Days</th>
                <th class="text-center align-content-center">Status</th>
				<th class="text-center align-content-center" style="min-width: 220px;">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @requests.each do |request| %>
				<tr>
					<td class="align-content-center">
					<%= request.assignment ? request.assignment.name : "N/A" %>
					</td>
					<td class="text-center align-content-center">
					<%= request.user.try(:name) || 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<%= request.user.try(:student_id) || 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<%= request.assignment&.due_date&.strftime('%a, %b %-d, %Y %-I:%M%P') || 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<%= request.assignment&.late_due_date&.strftime('%a, %b %-d, %Y %-I:%M%P') || 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<%= request.requested_due_date.present? ? request.requested_due_date.strftime('%a, %b %-d, %Y %-I:%M%P') : 'N/A' %>
					</td>
					<td class="text-center align-content-center">
					<% if request.assignment&.due_date && request.requested_due_date.present? %>
						<%= (request.requested_due_date.to_date - request.assignment.due_date.to_date).to_i %>
					<% else %>
						N/A
					<% end %>
					<td class="text-center align-content-center">
                      <% case request.status %>
                      <% when 'pending' %>
                        <span class="badge text-bg-info">Pending</span>
                      <% when 'approved' %>
                        <span class="badge text-bg-success">Approved</span>
                      <% when 'denied' %>
                        <span class="badge text-bg-danger">Denied</span>
                      <% else %>
                        <span class="badge text-bg-secondary">Unknown</span>
                      <% end %>
                    </td>
					</td>
					<td class="text-center align-content-center">
					<%= link_to 'Show', course_request_path(@course, request), class: "btn btn-sm btn-primary" %>
					<%= link_to 'Approve', approve_course_request_path(@course, request), method: :post, class: 'btn btn-sm btn-success ms-1' %>
					<%= link_to 'Reject', reject_course_request_path(@course, request), method: :post, class: 'btn btn-sm btn-danger ms-1' %>
					</td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
      <% else %>
        <div class="alert alert-warning">There are no current requests.</div>
      <% end %>
    </div>
  </div>
</div>