<%= render "layouts/sidebar" %>
<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-12">
			<%= render "courses/course_title" %>
			<div class="mb-3 px-4">
				<label for="form-assignment" class="form-label"><strong>Assignment</strong> (always required)</label>
				<select class="form-control bg-" id="form-assignment" rows="2" disabled>
					<option>Assignment Name | Due Date: mm-dd-yyyy</option>
				</select>
			</div>
			<div class="col-12 col-lg-5 mb-3 px-4">
					<p>Due Date: <strong>mm-dd-yyyy</strong></p>
			</div>
			<div class="col-12 col-lg-5 mb-3 px-4">
					<p>Late Due Date: <strong>mm-dd-yyyy</strong></p>
			</div>
			<div class="row justify-content-between align-items-center px-4">
				<div class="cold-12 col-lg-5 mb-3">
					<label for="form-new-due-date" class="form-label"><strong>Requested Due Date</strong> (always required)</label>
					<input type="date" class="form-control bg-body-secondary" id="form-new-due-date" value="" readonly />
				</div>
				<div class="col-12 col-lg-5 mb-3">
						<p>Number of Days: <strong>#</strong></p>
				</div>
			</div>
						
		<%= form_with(model: [@course, @form_setting], url: course_form_setting_path(@course), method: :patch, local: true) do |f| %>
			<% if @form_setting.errors.any? %>
				<div id="error_explanation" class="alert alert-danger">
					<h2><%= pluralize(@form_setting.errors.count, "error") %> prohibited this form setting from being saved:</h2>
					<ul>
						<% @form_setting.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="bg-light mb-3 p-4">
				<p><strong>Why do you need this extension?</strong> (always required)</p>
				<label for="form_setting_reason_desc" class="form-label">Custom Description</label>
				<%= f.text_area :reason_desc, class: "form-control", id: "form_setting_reason_desc" %>
			</div>
			
			
			<div class="bg-light-subtle mb-3 p-4">
				<div class="row justify-content-between">
					<div class="col-12 col-lg-6">
						<p><strong>Additional Documentation</strong></p>
					</div>
					<div class="col-12 col-lg-4">
						<div class="row align-items-center p-0">
							<div class="col-4">
								<label for="form_setting_documentation_disp" class="form-label">Display</label>
							</div>
							<div class="col-8">
								<%= f.select :documentation_disp, 
									options_for_select([["Required", "required"], 
														["Optional", "optional"], 
														["Hidden", "hidden"]], @form_setting.documentation_disp.presence || 'hidden'), 
									{}, 
									class: "form-select", 
									id: "form_setting_documentation_disp" %>
							</div>
						</div>
					</div>
				</div>
				<label for="form_setting_documentation_desc" class="form-label">Custom Description</label>
				<%= f.text_area :documentation_desc, class: "form-control mb-2", id: "form_setting_documentation_desc", value: @form_setting.documentation_desc.presence %>
				<p class="small"><strong>Please do not include any personal health or disability related details in your documentation. If you have questions please reach out to the course staff before submitting this form.</strong></p>
			</div>

			<div class="bg-light mb-3 p-4">
				<div class="row justify-content-between">
					<div class="col-12 col-lg-6">
						<p><strong>Additional Question 1</strong></p>
					</div>
					<div class="col-12 col-lg-4">
						<div class="row align-items-center p-0">
							<div class="col-4">
								<label for="form_setting_custom_q1_disp" class="form-label">Display</label>
							</div>
							<div class="col-8">
								<%= f.select :custom_q1_disp, 
									options_for_select([["Required", "required"], 
														["Optional", "optional"], 
														["Hidden", "hidden"]], @form_setting.custom_q1_disp.presence || 'hidden'), 
									{}, 
									class: "form-select", 
									id: "form_setting_custom_q1_disp" %>
							</div>
						</div>
					</div>
				</div>
				<label for="form_setting_custom_q1" class="form-label">Title</label>
				<%= f.text_field :custom_q1, class: "form-control", id: "form_setting_custom_q1" %>
				<label for="form_setting_custom_q1_desc" class="form-label">Description</label>
				<%= f.text_area :custom_q1_desc, class: "form-control", id: "form_setting_custom_q1_desc" %>
			</div>

			<div class="bg-light-subtle mb-3 p-4">
				<div class="row justify-content-between">
					<div class="col-12 col-lg-6">
						<p><strong>Additional Question 2</strong></p>
					</div>
					<div class="col-12 col-lg-4">
						<div class="row align-items-center p-0">
							<div class="col-4">
								<label for="form_setting_custom_q2_disp" class="form-label">Display</label>
							</div>
							<div class="col-8">
								<%= f.select :custom_q2_disp, 
									options_for_select([["Required", "required"], 
														["Optional", "optional"], 
														["Hidden", "hidden"]], @form_setting.custom_q2_disp.presence || 'hidden'), 
									{}, 
									class: "form-select", 
									id: "form_setting_custom_q2_disp" %>
							</div>
						</div>
					</div>
				</div>
				<label for="form_setting_custom_q2" class="form-label">Title</label>
				<%= f.text_field :custom_q2, class: "form-control", id: "form_setting_custom_q2" %>
				<label for="form_setting_custom_q2_desc" class="form-label">Description</label>
				<%= f.text_area :custom_q2_desc, class: "form-control", id: "form_setting_custom_q2_desc" %>
			</div>
			
			
			<div class="text-center mb-4">
				<%= f.submit 'Update', class: "btn btn-success" %>
			</div>
		<% end %>



		</div>
	</div>
</div>