<%= render "layouts/sidebar" %>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <%= render "courses/course_title" %>
      <table class="table table-bordered table-striped" id="enrollments-table">
        <thead>
          <tr class="table-info">
            <th>Name</th>
            <th>Student ID</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr>
              <td><%= enrollment.user.name %></td>
              <td><%= enrollment.user.student_id %></td>
              <td><%= enrollment.user.email %></td>
              <td><%= enrollment.role %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="text-center">
        <a href="<%= course_path(@course.id) %>" class="btn btn-dark">Back</a>
      </div>
    </div>
  </div>
</div>