<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12">
      <%= render "courses/course_title" %>
      <h1 class="sr-only">Course Enrollments</h1>
      
      <%= render "shared/extension_status_warning", course: @course %>
      
      <table class="table table-bordered table-striped datatable" id="enrollments-table" data-controller="enrollments">
        <thead>
          <tr class="table-info">
            <th style="min-width: 200px;">Name</th>
            <th class="text-center">Student ID</th>
            <th class="text-center">Email</th>
            <th class="text-center">Role</th>
            <th class="text-center">Approved Extended?</th>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr>
              <td class="d-flex justify-content-between align-items-center">
                <span>
                  <%= link_to(
                        enrollment.user.student_id.present? ? course_requests_path(@course, search: enrollment.user.student_id, show_all: 'true') : course_requests_path(@course, search: enrollment.user.name, show_all: 'true'),
                        class: "text-decoration-none"
                      ) do %>
                    <%= enrollment.user.name %> <i class="fas fa-arrow-right"></i>
                  <% end %>
                </span>
                <% if enrollment.role.downcase == 'student' %>
                  <span>
                    <%= link_to new_course_request_path(@course, "request[user_id]": enrollment.user.id), title: "Create request for this student" do %>
                      <i class="fas fa-plus-circle"></i>
                    <% end %>
                  </span>
                <% end %>
              </td>
              <td class="text-center"><%= enrollment.user.student_id %></td>
              <td class="text-center"><%= enrollment.user.email %></td>
              <td class="text-center"><%= enrollment.role.downcase.capitalize %></td>
              <td class="justify-content-center align-content-center">
                <% if enrollment.role.downcase == 'student' %>
                  <div class="form-check form-switch mx-auto" style="width: 45px;">
                    <input class="form-check-input" type="checkbox"
                          role="switch"
                          id="extended-<%= enrollment.id %>-enabled"
                          <%= 'checked' if enrollment.allow_extended_requests %>
                          data-enrollments-target="checkbox"
                          data-enrollment-id="<%= enrollment.id %>"
                          data-url="<%= toggle_allow_extended_requests_course_user_to_course_path(@course, enrollment) %>">
                    <label class="visually-hidden" for="extended-<%= enrollment.id %>-enabled">
                      Approve extended requests for <%= enrollment.user.name %>
                    </label>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center mt-4">
        <button class="btn btn-info"
                data-controller="enrollments"
                data-action="click->enrollments#sync"
                data-enrollments-course-id-value="<%= @course.id %>">
          Sync Enrollments
        </button>
      </div>
    </div>
  </div>
</div>