<%= render "layouts/sidebar" %>
<div class="container mt-4">
	<div class="row">
		<div class="col-12">
			<h4 class="mb-4"><%= @course.course_name %> / <%= @course.course_code %></h4>
			<table class="table table-bordered table-striped" id="assignments-table">
				<thead>
					<tr class="table-info">
						<th>Assignment</th>
						<th>View</th>
						<th>Due Date</th>
						<th>Late Due Date</th>
						<th style="width: 50px;">Enable</th>
					</tr>
				</thead>
				<tbody>
					<% @assignments.each do |assignment| %>
						<tr>
							<input type="hidden" class="assignment-id" name="assignment_id" value="<%= assignment.id %>">
							<td class="row-check"><%= assignment.name %></td>
							<td>
								<a href="<%= "#{ENV.fetch('CANVAS_URL')}/courses/#{@course.canvas_id}/assignments/#{assignment.external_assignment_id}" %>" target="_blank">
									bCourses
								</a>
							</td>
							<td class="row-check"><%= assignment.due_date&.strftime("%B %d, %Y") || 'N/A' %></td>
							<td class="row-check"><%= assignment.late_due_date&.strftime("%B %d, %Y") || 'N/A' %></td>
							<td class="d-flex justify-content-center align-content-center">
								<div class="d-flex justify-content-center form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="assignment-<%= assignment.id %>-has-partner">
									<label class="form-check-label" for="assignment-<%= assignment.id %>-has-partner"></label>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="text-center">
				<a href="/courses" class="btn btn-dark">Back</a>
			</div>
		</div>
	</div>
</div>