<%= render "layouts/sidebar" %>
<div class="container mt-4">
	<div class="row">
		<div class="col-12">
			<h4 class="mb-4"><%= @course.course_name %> / <%= @course.course_code %></h4>
			<%= form_with url: course_extensions_path(@course), method: :post, local: true do %>
			  <div class="mb-3">
			    <label for="assignment_id" class="form-label">Assignment</label>
			    <select class="form-select" name="assignment_id" id="assignment_id" required>
			      <% @assignments.each do |assignment| %>
			        <option value="<%= assignment.id %>"><%= assignment.name %></option>
			      <% end %>
			    </select>
			  </div>

			  <div class="mb-3">
			    <label for="number_of_days" class="form-label">Number of Days</label>
			    <input type="number" class="form-control" name="number_of_days" id="number_of_days" required>
			  </div>

			  <div class="mb-3">
			    <label for="reason" class="form-label">Why do you need this extension?</label>
			    <textarea class="form-control" name="reason" id="reason" rows="4" required></textarea>
			  </div>

			  <div class="text-center">
				<a href="/courses" class="btn btn-dark">Back</a>
			    <button type="submit" class="btn btn-secondary">Submit</button>
			  </div>
			<% end %>
		</div>
	</div>
</div>