<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12">
      <%= render "courses/course_title" %>
      <h1 class="sr-only">Instructor View</h1>
      
      <%= render "shared/extension_status_warning", course: @course %>
      
      <div class="table-responsive">
        <table class="table table-bordered table-striped datatable" id="assignments-table">
          <thead>
            <tr class="table-info">
              <th style="min-width: 280px;">Assignment</th>
              <th class="text-center" style="min-width: 198px;">Due Date</th>
              <th class="text-center" style="min-width: 198px;">Late Due Date</th>
              <th class="text-center" style="width: 80px;">Enable</th>
            </tr>
          </thead>
          <tbody>
            <% @assignments.each do |assignment| %>
              <tr>
                <input type="hidden" class="assignment-id" name="assignment_id" value="<%= assignment.id %>">
                <td class="">
                  <div class="d-flex justify-content-between align-items-center">
                    <span><%= assignment.name %></span>
                    <%= assignment_link_for(assignment, @course) %>
                  </div>
                </td>
                <td class="text-center"><%= assignment.due_date&.strftime('%a, %b %-d at %-I:%M%P') || 'N/A' %></td>
                <td class="text-center"><%= assignment.late_due_date&.strftime('%a, %b %-d at %-I:%M%P') || 'N/A' %></td>
                <td class="justify-content-center align-content-center">
                  <div class="form-check form-switch mx-auto" style="width: 45px;" data-controller="assignment">
                    <input class="form-check-input assignment-enabled-switch" type="checkbox" 
                           role="switch" 
                           id="assignment-<%= assignment.id %>-enabled" 
                           <%= 'checked' if assignment.enabled %> 
                           data-assignment-target="checkbox"
                           data-assignment-id="<%= assignment.id %>" 
                           data-url="<%= toggle_enabled_assignment_path(assignment) %>" 
                           data-role="<%= @role %>" 
                           data-user-id="<%= @user.id %>">
                    <label class="visually-hidden" for="assignment-<%= assignment.id %>-enabled">
                      Enable <%= assignment.name %> assignment
                    </label>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <button class="btn btn-info"
                data-controller="assignment"
                data-action="click->assignment#sync"
                data-assignment-course-id-value="<%= @course.id %>">
          Sync Assignments
        </button>
      </div>
    </div>
  </div>
</div>
