<%= render "layouts/sidebar" %>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <%= render "courses/course_title" %>
      
      <%= render "shared/extension_status_warning", course: @course %>
      
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="assignments-table">
          <thead>
            <tr class="table-info">
              <th>Assignment</th>
              <th class="text-center" style="min-width: 215px;">Due Date</th>
              <th class="text-center" style="min-width: 215px;">Late Due Date</th>
              <th class="text-center" style="width: 80px;">Enable</th>
            </tr>
          </thead>
          <tbody>
            <% @assignments.each do |assignment| %>
              <tr>
                <input type="hidden" class="assignment-id" name="assignment_id" value="<%= assignment.id %>">
                <td class="text-break">
                  <div class="d-flex justify-content-between align-items-center">
                    <span><%= assignment.name %></span>
                    <a href="<%= "#{ENV.fetch('CANVAS_URL')}/courses/#{@course.canvas_id}/assignments/#{assignment.external_assignment_id}" %>" target="_blank" class="ms-2">
                      bCourses <i class="fas fa-up-right-from-square"></i>
                    </a>
                  </div>
                </td>
                <td class="text-center"><%= assignment.due_date&.strftime('%a, %b %-d at %-I:%M%P') || 'N/A' %></td>
                <td class="text-center"><%= assignment.late_due_date&.strftime('%a, %b %-d at %-I:%M%P') || 'N/A' %></td>
                <td class="justify-content-center align-content-center">
                  <div class="form-check form-switch mx-auto" style="width: 45px;">
                    <input class="form-check-input assignment-enabled-switch" type="checkbox" 
                           role="switch" 
                           id="assignment-<%= assignment.id %>-enabled" 
                           <%= 'checked' if assignment.enabled %> 
                           data-assignment-id="<%= assignment.id %>" 
                           data-url="<%= toggle_enabled_assignment_path(assignment) %>">
                    <label class="form-check-label" for="assignment-<%= assignment.id %>-enabled"></label>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <button class="btn btn-info" id="sync-assignments-button" data-course-id="<%= @course.id %>">Sync Assignments</button>
      </div>
    </div>
  </div>
</div>

<script>
document.getElementById("sync-assignments-button").addEventListener("click", function () {
  const courseId = this.getAttribute("data-course-id");
  fetch(`/courses/${courseId}/sync_assignments`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').getAttribute("content"),
    },
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error("Failed to sync assignments.");
      }
      return response.json();
    })
    .then((data) => {
      alert(data.message || "Assignments synced successfully.");
      location.reload(); // Reload the page to reflect updated assignments
    })
    .catch((error) => {
      alert(error.message || "An error occurred while syncing assignments.");
    });
});
</script>