<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <a href="/courses" class="btn btn-secondary d-inline-flex align-items-center">
        <i class="fas fa-arrow-left me-2"></i>
        Back to Courses
      </a>
    </div>
    <div class="col-12">
      <h1 class="sr-only">Import Courses</h1>
      <h2 class="mb-4">Choose courses to set up extensions with:</h2>
      <p>If you expect to see a class, but it is not listed, ensure the Course is not already setup with Flextensions and that its corresponding Canvas course is active.</p>
    </div>
    <% if @courses_teacher.any? %>
      <%= form_with url: courses_path, method: :post, class: "mt-3" do %>
        <table class="table table-bordered table-striped" id="import-course-table">
          <thead class="table-info">
            <tr>
              <th></th>
              <th>Semester</th>
              <th>Course</th>
              <th>Name</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <% @courses_teacher.sort_by { |c| DateTime.parse(c["created_at"]) }.reverse.each do |course| %>
              <tr>
                <td class="d-flex justify-content-center align-content-center">
                  <div class="d-flex justify-content-center form-check form-switch">
                    <%= check_box_tag "courses[]", course["id"], false, id: "course_#{course["id"]}", class: "form-check-input" %>
                    <label class="form-check-label" for="assignment-1-has-partner"></label>
                  </div>
                </td>
                <td><%= DateTime.parse(course["created_at"]).strftime("%B %Y") %></td>
                <td><%= course["course_code"] %></td>
                <td><%= course["name"] %></td>
                <td><%= course['enrollments'].find { |enrollment| %w[teacher ta].include?(enrollment['type']) }['type'].capitalize %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= submit_tag "Import Selected Courses", class: "btn btn-secondary" %>
      <% end %>
    <% else %>
      <%# TODO: this could be improved when user has imported all relevant courses %>
      <p class="alert alert-warning">No new courses found.</p>
    <% end %>

    <% if @courses_student.any? %>
      <div class="row mt-4">
        <div class="col-12">
          <h5>Classes you are enrolled in but cannot set up extensions for:</h5>
          <% @courses_student.sort_by { |c| DateTime.parse(c["created_at"]) }.reverse.each do |course| %>
            <div class="mb-3">
              <span>
                <strong>Semester:</strong> <%= DateTime.parse(course["created_at"]).strftime("%B %Y") %> |
                <strong>Course:</strong> <%= course["course_code"] %> |
                <strong>Name:</strong> <%= course["name"] %> |
                <strong>Role:</strong> <%= course['enrollments'].find { |enrollment| %w[student observer designer].include?(enrollment['type']) }['type'].capitalize %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
