<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Choose courses to set up extensions with:</h5>
      <p>If you expect to see an offering but it is not listed, please make sure its corresponding Canvas course exists and is active.</p>
    </div>
    <% if @courses_teacher.any? %>
      <%= form_with url: courses_path, method: :post, class: "mt-3" do %>
        <% @courses_teacher.sort_by { |c| DateTime.parse(c["created_at"]) }.reverse.each do |course| %>
          <div class="form-check mb-3">
            <%= check_box_tag "courses[]", course["id"], false, id: "course_#{course["id"]}", class: "form-check-input" %>
            <label for="course_#{course["id"]}" class="form-check-label">
              <strong>Semester:</strong> <%= DateTime.parse(course["created_at"]).strftime("%B %Y") %> |
              <strong>Course:</strong> <%= course["course_code"] %> |
              <strong>Name:</strong> <%= course["name"] %> |
              <strong>Role:</strong>
              <%= course['enrollments'].find { |enrollment| %w[teacher ta].include?(enrollment['type']) }['type'].capitalize %>
            </label>
          </div>
        <% end %>
        <%= submit_tag "Import Selected Courses", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <p class="text-danger">No courses found or unable to fetch courses.</p>
    <% end %>

    <% if @courses_student.any? %>
      <div class="row mt-4">
        <div class="col-12">
          <h5>Classes you are enrolled in but cannot set up extensions for:</h5>
          <% @courses_student.sort_by { |c| DateTime.parse(c["created_at"]) }.reverse.each do |course| %>
            <div class="mb-3">
              <span>
                <strong>Semester:</strong> <%= DateTime.parse(course["created_at"]).strftime("%B %Y") %> |
                <strong>Course:</strong> <%= course["course_code"] %> |
                <strong>Name:</strong> <%= course["name"] %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
