<%= render "layouts/sidebar" %>
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
        <%= render "courses/course_title" %>
      <table class="table table-bordered table-striped" id="assignments-table">
        <thead>
          <tr class="table-info">
            <th>Assignment</th>
            <th>View</th>
            <th>Due Date</th>
            <th>Late Due Date</th>
            <th style="width: 50px;">Request</th>
          </tr>
        </thead>
        <tbody>
          <% @assignments.each do |assignment| %>
            <tr>
              <input type="hidden" class="assignment-id" name="assignment_id" value="<%= assignment.id %>">
              <td class="row-check"><%= assignment.name %></td>
              <td>
                <a href="<%= "#{ENV.fetch('CANVAS_URL')}/courses/#{@course.canvas_id}/assignments/#{assignment.external_assignment_id}" %>" target="_blank">
                  bCourses
                </a>
              </td>
              <td class="row-check"><%= assignment.due_date&.strftime("%A, %B %d, %Y %I:%M %p") || 'N/A' %></td>
              <td class="row-check"><%= assignment.late_due_date&.strftime("%A, %B %d, %Y %I:%M %p") || 'N/A' %></td>
              <td class="text-center">
                <a href="<%= course_extension_form_path(@course)+ '?assignment_id='+ assignment.id.to_s %>" class="btn btn-sm btn-secondary">New</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>