<nav class="navbar navbar-expand-lg navbar-dark bg-primary" aria-label="Main navigation">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-center"
			aria-controls="navbar-center" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="color-mode-toggler">
			<a class="navbar-brand col-lg-3 me-0" href="./">Flextensions</a>
		</div>
		<div class="color-mode-toggler">
			<%= render "layouts/color_mode_btn" %>
		</div>

		<div class="collapse navbar-collapse d-lg-flex" id="navbar-center">
			<a class="navbar-brand col-lg-3 me-0 color-mode-toggler-m" href="/courses">Flextensions</a>
			<ul class="navbar-nav col-lg-6 justify-content-lg-center">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/courses">Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="https://github.com/berkeley-cdss/flextensions/wiki/" target="_blank">Help</a>
				</li>
			</ul>
			<div class="d-lg-flex col-lg-3 justify-content-lg-end">
				<ul class="navbar-nav">
					<% if session[:user_id].present? %>
						<!-- Display this when there's a logged-in user -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle testid-username" href="#" data-bs-toggle="dropdown"
								aria-expanded="false" aria-label="User menu for <%= session[:username] %>"><%= session[:username] %></a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item testid-logout-button" href="/logout/">Logout</a></li>
							</ul>
						</li>
					<% else %>
						<!-- Display this when there's NO logged-in user -->
						<%# TODO: Need a test case for this. %>
						<li class="nav-item">
							<%= link_to 'Login', '/auth/canvas', class: 'btn btn-primary', id: 'login-button-index' %>
						</li>
					<% end %>
					<li>
						<div class="color-mode-toggler-m">
							<%= render "layouts/color_mode_btn" %>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</nav>

<% unless (controller.controller_name == "home" && controller.action_name == "index") ||  (controller.controller_name == "courses" && ["index", "new"].include?(controller.action_name)) %>
<!-- Mobile Sidebar Toggle Button (arrow) -->
<button id="mobileSidebarToggle"
		class="btn btn-light btn-sm d-md-none"
		type="button"
		data-controller="sidebar"
		data-sidebar-target="toggleBtn"
		data-action="click->sidebar#toggleSidebar"
		aria-label="Open sidebar"
		style="display: none;">
	<i class="fa-solid fa-arrow-right"></i>
</button>
<% end %>
