<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar-container">
	<div class="nav-back">
		<a href="/courses" class="nav-link d-flex align-items-center">
			<i class="fas fa-arrow-left me-2"></i>
			Back to Courses
		</a>
	</div>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="<%= course_path(@course.id) %>" class="nav-link <%= @side_nav == 'show' ? 'active' : 'link-body-emphasis' %>">
				<i class="fas fa-tasks me-2"></i>
				Assignments
			</a>
		</li>
		
		<li>
			<a href="<%= course_requests_path(@course.id) %>" class="nav-link <%= @side_nav == 'requests' ? 'active' : 'link-body-emphasis' %>">
				<i class="fas fa-clock me-2"></i>
				Requests
			</a>
		</li>
		<% if @role == 'instructor' %>
			<li>
				<a href="<%= enrollments_course_path(@course.id) %>" class="nav-link <%= @side_nav == 'enrollments' ? 'active' : 'link-body-emphasis' %>">
				<i class="fas fa-users me-2"></i>
				Enrollments
				</a>
			</li>
		<% end %>
		<% if @role == 'instructor' %>
			<li>
				<a href="<%= course_settings_path(@course.id) %>" class="nav-link <%= @side_nav == 'edit' ? 'active' : 'link-body-emphasis' %>">
					<i class="fas fa-cog me-2"></i>
					Settings
				</a>
			</li>
		<% end %>
		<% if @role == 'instructor' %>
			<li>
				<a href="<%= edit_course_form_setting_path(@course.id) %>" class="nav-link <%= @side_nav == 'form_settings' ? 'active' : 'link-body-emphasis' %>">
					<i class="fas fa-file-alt me-2"></i>
					Form
				</a>
			</li>
		<% end %>
		<% if @role == 'student' %>
			<li>
				<a href="<%= course_extension_form_path(@course.id) %>" class="nav-link <%= @side_nav == 'form' ? 'active' : 'link-body-emphasis' %>">
					<i class="fas fa-calendar-plus me-2"></i>
					Request Extension
				</a>
			</li>
		<% end %>
	</ul>
</div>