<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar-container">
	<div class="nav-back mb-3">
		<%= link_to "/courses", class: "nav-link d-flex align-items-center" do %>
			<div class="sidebar-icon-container">
				<i class="fas fa-arrow-left fa-fw"></i>
			</div>
			<span class="sidebar-text">Back to Courses</span>
		<% end %>
	</div>

	<ul class="nav nav-pills flex-column mb-auto">
		<%= render 'layouts/components/sidebar_menu_item',
			path: course_path(@course.id),
			icon: 'fas fa-tasks',
			text: 'Assignments',
			active: @side_nav == 'show' %>

		<%= render 'layouts/components/sidebar_menu_item',
			path: course_requests_path(@course.id),
			icon: 'fas fa-clock',
			text: 'Requests',
			active: @side_nav == 'requests' %>

		<% if @role == 'instructor' %>
			<%= render 'layouts/components/sidebar_menu_item',
				path: enrollments_course_path(@course.id),
				icon: 'fas fa-users',
				text: 'Enrollments',
				active: @side_nav == 'enrollments' %>

			<%= render 'layouts/components/sidebar_menu_item',
				path: course_settings_path(@course.id),
				icon: 'fas fa-cog',
				text: 'Settings',
				active: @side_nav == 'edit' %>

			<%= render 'layouts/components/sidebar_menu_item',
				path: edit_course_form_setting_path(@course.id),
				icon: 'fas fa-file-alt',
				text: 'Form',
				active: @side_nav == 'form_settings' %>
		<% end %>

		<% if @role == 'student' %>
			<%= render 'layouts/components/sidebar_menu_item',
				path: new_course_request_path(@course.id),
				icon: 'fas fa-file-pen',
				text: 'Request Extension',
				active: @side_nav == 'form' %>
		<% end %>
	</ul>
</div>