<div class="flx-sidebar">
	<!-- Sidebar Content -->
	<div class="flx-sidebar__content p-3">
		<div class="d-flex align-items-center mb-3">
			<a href="/courses" class="text-decoration-none">
				<h5 class="mb-0 d-flex align-items-center ">
					<%= image_tag "left-arrow.png", alt: "Back", class: "me-2", style: "width: 10px; height: 10px;" %>Courses
				</h5>
			</a>
		</div>
		<ul class="nav nav-pills flex-column">
			<li class="flx-sidebar__nav-item">
				<a href="/courses/<%= @course.id %>/" class="flx-sidebar__nav-link nav-link <%= @side_nav == 'show' ? 'active' : 'link-body-emphasis' %>">
					<i class="fas fa-home me-2"></i>
					Assignments
				</a>
			</li>
			<li class="flx-sidebar__nav-item">
				<a href="/courses/<%= @course.id %>/requests" class="flx-sidebar__nav-link nav-link <%= @side_nav == 'requests' ? 'active' : 'link-body-emphasis' %>">
					<i class="fas fa-tachometer-alt me-2"></i>
					Requests
				</a>
			</li>
			<li class="flx-sidebar__nav-item">
				<a href="/courses/<%= @course.id %>/edit" class="flx-sidebar__nav-link nav-link <%= @side_nav == 'edit' ? 'active' : 'link-body-emphasis' %>">
					<i class="fas fa-cog me-2"></i>
					Settings
				</a>
			</li>
		</ul>
	</div>
</div>