<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
	<head>
		<title>Flextensions</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="Manage and access extensions on assignments for Berkeley courses">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<%= javascript_include_tag "color-modes", "data-turbo-track": "reload" %>
	</head>
	<body class="d-flex flex-column h-100">
		<header role="banner" aria-label="Site header">
			<%= render "layouts/header" %>
		</header>
		<main class="d-flex flex-column flex-lg-row flex-nowrap h-100 overflow-auto" role="main" aria-label="Main content">
			<%= yield %>
		</main>
		<%= render "layouts/footer" %>
	</body>
</html>
