<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
	<head>
		<title>Flextensions</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= favicon_link_tag 'favicon.jpg', type: 'image/jpg' %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<!-- DataTables CSS -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<%= javascript_include_tag "color-modes", "data-turbo-track": "reload" %>

		<!-- jQuery (required for DataTables) -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<!-- DataTables JS -->
		<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<%= render "layouts/header" %>
		<main class="flex-grow-1">
			<div class="d-flex flex-column flex-lg-row">
				<%= yield %>
			</div>
		</main>
		<%= render "layouts/confirm_modal" %>
		<%= render "layouts/footer" %>
	</body>
</html>
