<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Flextensions</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= favicon_link_tag 'favicon.jpg', type: 'image/jpg' %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application" %>

		<%= javascript_importmap_tags %>
		<%= render "layouts/components/color_mode_critical" %>
	  <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>
	<body class="d-flex flex-column vh-100">
		<%= render "layouts/header" %>
		<main class="d-flex flex-grow-1">
			<% unless (controller.controller_name == "home" && controller.action_name == "index") ||  (controller.controller_name == "courses" && ["index", "new"].include?(controller.action_name)) %>
				<% if @course.present? %>
					<%= render 'layouts/sidebar' %>
				<% end %>
			<% end %>
			<div class="flex-grow-1 overflow-auto p-3">
				<%= yield %>
			</div>
		</main>
		<%= render "layouts/confirm_modal" %>
		<%= render "layouts/footer" %>
	</body>
</html>
