<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
	<head>
		<title>Flextensions</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= favicon_link_tag 'favicon.jpg', type: 'image/jpg' %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= stylesheet_link_tag "https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css", media: "all" %>
		<%= javascript_importmap_tags %>
		<%= javascript_include_tag "color-modes", "data-turbo-track": "reload" %>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<%= render "layouts/header" %>
		<main class="flex-grow-1">
			<div class="d-flex flex-column flex-lg-row">
				<%= yield %>
			</div>
		</main>
		<%= render "layouts/confirm_modal" %>
		<%= render "layouts/footer" %>
	</body>
</html>
