<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">
	<head>
		<title>Flextensions</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<%= javascript_include_tag "color-modes", "data-turbo-track": "reload" %>
	</head>
	<body class="d-flex flex-column h-100">
		<%= render "layouts/header" %>
		<main class="flex-shrink-0">
			<%= yield %>
		</main>
		<%= render "layouts/footer" %>
	</body>
</html>
